﻿@model List<HogaresVictoria.Models.Hogares>


@{
    ViewBag.Title = ".:: Hogares Victoria ::.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">HogaresVictoria</h2>

<ul class="pgwSlider">
    <li><img src="http://lorempixel.com/960/520/city" alt="Paris, France" data-description="Eiffel Tower and Champ de Mars <span class='glyphicon glyphicon-eye-open'></span>"></li>
    <li><img src="http://lorempixel.com/960/520/business" alt="Montréal, QC, Canada" /></li>
    <li>
        <img src="http://lorempixel.com/960/520/nature">
        <span>Shanghai, China</span>
    </li>
    <li>
        <a href="http://www.nyc.gov" target="_blank">
            <img src="http://lorempixel.com/960/520/people">
            <span>New York, NY, USA</span>
        </a>
    </li>
</ul>


<br />
<div>
    <ul>
        <li>assdsdsdsd</li>
        <li>asdsadsads</li>
        <li>asdsdas</li>
    </ul>
</div>

<ul>
    @foreach (var item in Model)
    {
        <li>@Html.DisplayFor(x => item.Tipos.NombreTipo) - @Html.DisplayFor(x => item.Estado.NombreEstado)</li>
        <li>@Html.DisplayFor(x => item.Ubicacion) - $@Html.DisplayFor(x => item.Precio)</li>
        <li>@Html.DisplayFor(x => item.ShortDescription)</li>
        <br />
        <br />
    }
</ul>





